<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Discuss Area</title>

  <link href="/Public/third party/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/Public/style.css">
</head>
<body>
  <include file="./Public/header.html"/>
	<div class="container" style="margin-bottom:2em;min-height:100%;">
		<div class="detail-title">{$projectdiscussed.title}</div>
		<div class="row">
			<ul class="nav nav-pills nav-justified single-project-nav">
				<li class="col-sm-3" role="presentation">
					<a class="unchoose" href="{:U('Project/dashboard','id='.$projectdiscussed['id'])}">Dashboard</a>
				</li>
				<li class="col-sm-3"><a class="unchoose"
                     href="{:U('Project/timelingarea','projectid='.$projectdiscussed['id'])}">Growth-history board</a>
				</li>
				 <li class="col-sm-3"><a class="unchoose"
					href="{:U('Project/advisorboard','projectid='.$projectdiscussed['id'])}">Advisory board</a>
				</li>
				<li class="col-sm-3 active" style="font-weight: bold;color: rgba(245, 253, 250, 0.82);">
					<a class="singleprojectnavli" href="{:U('Project/discussarea','projectid='.$projectdiscussed['id'])}">Discussion board</a>
				</li>
				
			</ul>
    </div>
		<div class="row-fluid col-sm-8 single-detail-page discuss-border">
			<div id="postList">
				<foreach name="postlist" item="vo">
				  <div class="row discuss-entity">
					  <div class="col-sm-2 discuss-entity-owner">
						  <img src={$vo.photolink} class="discuss-entity-owner-photo" />
						  <p>{$vo.username}</p>
					  </div>
					  <div class="col-sm-10">
						  <div class="dicuss-entity-publish-date">
                <div class="row">
                  <div  class="col-sm-3" > Published on {$vo.time}</div>
                  <if  condition="$vo['updatetime'] neq null">
                    <div  class="col-sm-3 bluecolor" >Edited on {$vo.updatetime}</div>
                  </if>
                  <if condition="$currentUser eq $vo['postuseralias']">
                    <div style="float:right;">
                      <button class="btn btn-primary btn-sm"  id="edit-post">edit</button>
                      <button class="btn btn-primary btn-sm hidden-notdisplay"  id="edit-save-post" data-rating="{$vo.id}">save</button>
                      <a href="{:U('Project/deletePost','postid='.$vo[id])}"><button class="btn btn-danger btn-sm"  id="delete-post">delete</button></a>
                    </div>
			<else/>
                    <eq name="isAdmin" value="true">
                      <div style="float:right;">
                        <button class="btn btn-primary btn-sm"  id="edit-post">edit</button>
                        <button class="btn btn-primary btn-sm hidden-notdisplay"  id="edit-save-post" data-rating="{$vo.id}">save</button>
                        <a href="{:U('Project/deletePost','postid='.$vo[id])}"><button class="btn btn-danger btn-sm"  id="delete-post">delete</button></a>
                      </div>
                    <else/>
                    </eq> 		
					
					
					
                  </if>
                </div>
              </div>
						  <div class="discuss-entity-content">{$vo.content}</div>
					  </div>
			    </div>
				</foreach>
			</div>
		</div>
		<div class="row-fluid col-sm-8 single-detail-page">
			<form method="post" id="commentform" onSubmit="DeleteCookie('AutoSaveContent')" action="{:U('Project/addpost','projectid='.$projectdiscussed['id'])}">
      	<div class="form-group">
    		  <label class="left" for="comment"></label>
    			<div>
    				<input type="hidden" name="postcode" value="{$postcode}" >  </input>
  					<textarea  id="postcomment"  name="content" onkeyup="AutoSave(this);" onclick="AutoSave(this);" class=" col-sm-12 new-comment-textarea" ></textarea>
 					</div>
 					<div>
 					  
 					</div>
				</div>
			</form>
          <button class="button col-sm-2 " id="postbutton" >Post</button>

		</div>
	</div>
  <include file="./Public/foot.html" />
	<script src="/Public/third party/jquery/jquery-2.1.4.min.js"></script>
	<script src="/Public/third party/bootstrap/js/bootstrap.min.js"></script>
   <script src="/Public/autosave.js" type="text/javascript"></script> 
	<script src="/Public/dashboard.js"></script>
 
 
  <script type="text/javascript">
    $(document).ready(function(){
      $('.discuss-entity-content').each(function(){
        var va=$(this).text();
        $(this).html(va);
      });
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
    $('#postList').on('click','#edit-post',function(){
      $(this).addClass('hidden-notdisplay');
      $(this).next().removeClass('hidden-notdisplay');
      $(this).parent().parent().parent().next().prop('contenteditable', 'true');
      $(this).parent().parent().parent().next().addClass('description-editable');
      var a=$(this).parent().parent().parent().next().html();
      $(this).parent().parent().parent().next().text(a);
    });
    $('#postList').on('click','#edit-save-post',function(){
      var postid=$(this).attr('data-rating');
      $(this).addClass('hidden-notdisplay');
      $(this).prev().removeClass('hidden-notdisplay');
      var postcontent=$(this).parent().parent().parent().next().text();
      var url = '/Home/Project/editPost/';
      $.post(url,{postid:postid,postcontent:postcontent},function(data){
        if(data.errno !== 0 && data.errno !== 1)
        {
          exit(data.errmsg);
        }
      },'json');
      $(this).parent().parent().parent().next().removeClass('description-editable');
      $(this).parent().parent().parent().next().prop('contenteditable', 'false');
            var userAgent = '';
    if(/MSIE/i['test'](navigator['userAgent'])==true||/rv/i['test'](navigator['userAgent'])==true||/Edge/i['test'](navigator['userAgent'])==true){
       userAgent='ie';
       alert(" Operation succeeds!");
    } else {
       userAgent='other';
    }
      location.reload(true);
    });
    $("#postbutton").click(function(){
        if ($("#postcomment").val() == ""){
          alert("You haven't put any comment!");
          location.reload();
        }
        else { $( "#commentform" ).submit();}
      });




		$('#postList').on('click','#delete-post',function(){
			if(confirm('confirm: You really want to delete this comment?')){}
			else{
				return false;
			}
		});
	})
  </script>
 </body>
</html>
